body {
  background-color: #ACCAB0;
  background:#e1efbb url(‘https://images.unsplash.com/photo-1522158637959-30385a09e0da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80’);
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

